@media screen and (max-width: 420px) {

  .nav-content h1 span {
    font-size: 24px;
  }

  nav p {
    padding: 26px 10px;
    margin-right: 0px;
    font-size: 14px;
  }

  .headline-container h1 {
    font-size: 38px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 7px hsla(0, 0%, 0%, 0.4);
  }

  .register-button {
    font-size: 14px;
  }

  article.section-details {
    font-size: 16px;
    padding: 76px 0px;
    line-height: 1.50em;
}

  .content-box {
    height: 248px;
    padding: 16px 12px;

  }


  footer {
    padding-right: 10px;
    padding-left: 10px;
  }

}
