.section-container {
  background-color: hsla(0, 0%, 99%, 1);
  background-image: url("https://transparenttextures.com/patterns/xv.png");

}

.content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 302px;
  padding: 25px;
}


.content-box h2 {
  font-size: 1.15em;
  color: hsla(184, 7%, 41%, 1);
  /* transition: all ease-in-out 450ms; */
  transition:  all cubic-bezier(0.51, 0, 0, 1.01) 550ms;

}

.content-box i {
  font-size: 36px;
  color: hsl(184, 95%, 26%);
  margin-bottom: 18px;
  /* transition: all ease-in-out 450ms; */
  transition:  all cubic-bezier(0.51, 0, 0, 1.01) 550ms;
}

article.section-details {
  max-width: 980px;
  margin: auto;
  font-size: 20px;
  padding: 80px 22px;
  color: hsla(184, 7%, 41%, 1);
  line-height: 1.50em;
}

.section-details p:first-letter {
    font-size: 62px;
    font-family: 'Great Vibes', cursive;
}



.box-container {
  display: flex;
  position: relative;
  background-color: hsla(0, 0%, 99%, 0.77);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 2px grey;
  box-shadow: 0px 3px 18px -6px hsla(180, 2%, 24%, 0.96);
  transition:  all cubic-bezier(0.51, 0, 0, 1.01) 550ms;
  /* border-bottom: 3px solid #037981; */
}

.bottom-line {
  width: 0%;
  height: 4px;
  position: absolute;
  bottom: 0px;
  background-color: hsl(184, 95%, 26%, 1);
  transition: all cubic-bezier(0.51, 0, 0, 1.01) 550ms;
}



.box-container:hover .bottom-line {
  height: 4px;
  width: 100%;
}

.box-container:hover {
  background-color: rgba(253, 231, 198, 0.54);
}


.box-container:hover i {
  transform: translate(0px, -20px) scale(1.20) rotate(360deg);
}

.box-container:hover h2 {
  transform: translate(0px, -10px) scale(1.10);

}

.box-row {
  max-width: 1400px;
  margin: auto;
  margin-bottom: 80px;
}

.form-heading {
  font-size: 34px;
  text-align: center;
  padding-bottom: 28px;
  color: hsla(184, 7%, 41%, 0.91);
}

.input {
    border-radius: 0px;
}

.map-responsive {
  border: 7px solid #037982;
}

.map-wrapper {
  padding: 15px;
}

.contact-section {
  max-width: 1400px;
  margin: auto;
  background-color: white;
  padding: 80px 0px;
}

iframe {
    display: block;
    height: 350px;
}

.msg-button {

    text-decoration: none;
    background-color: hsla(184, 96%, 26%, 1);
    display: inline-block;
    font-size: 14px;
    color: hsla(0, 0%, 99%, 1);
    cursor: pointer;
    border-radius: 0px;
}

.msg-button:hover {
    background-color: hsla(184, 96%, 20%, 1);
    color: hsla(0, 0%, 99%, 1);
    text-decoration: none;
}
