.form-wrapper {
width: 100%;
overflow: hidden;
display: flex;
justify-content: center;
flex-direction: row;
margin-bottom: 50px;
}

.form-heading {
  text-align: center;
  margin-bottom: 18px;
}

.content {
min-height: 0px;
}
