html {
  overflow-y: auto;
}

body {
  font-family: 'Montserrat', sans-serif!important;
}

img {
  width: 60px;
  display: block;
  margin: auto;
}

h4.panel-head {
  margin: 15px 0px;
}

hr {
  border-top: 1px solid #cfcdcd;
}

.loader-wrapper {
  width: 100%;
  height: calc(100vh - 169px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

table.dataTable tbody td {
  vertical-align: middle;
}


.main-header .logo {
  font-family: 'Montserrat', sans-serif!important;
  font-size: 17px!important;
}

.action-buttons {
  display: flex;
}

.modal-open[style] {
  padding-right: 0px !important;
}

.modal-body {
  position: relative;
  padding: 12px;
  box-sizing: border-box;
  margin: 0px;
}

.modal {
  z-index: 1075 !important;
}

.action-btns {

  margin-left: 5px;
}

.breadcrumb {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 1px 2px 4px -2px hsla(0, 0%, 0%, 0.41);
  margin-bottom: 0px;
}

.content-wrapper {
  min-height: 100%;
  background-color: hsla(213, 0%, 96%, 1);
  z-index: 800;
  overflow: auto;
}

.box {
  border-top: none;
  box-shadow: none;
}

.create-btn {
  margin-top: 0px!important;
  margin-bottom: 0px!important;
}

.main-header .sidebar-toggle:hover, .main-header .sidebar-toggle:focus  {
  text-decoration: none;

}

.container {
    padding-right: 15px;
    padding-left: 15px;
}

span.card-img-cont {
  width: 100%;
  display: block;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-custom {
  padding-top: 0px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 30px;
}

.jumbotron-custom:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  top: 0px;
  z-index: 998
}

.jumbotron-custom .container h1, p  {
  z-index: 999;
  position: relative;
  /* color: hsla(0, 0%, 22%, 1); */
}

.card {
  padding: 13px;
  margin-top: 0px;

}

h1.display-3 {
  font-size: 45px;
  margin-top: 32px;
}

p.lead {
  font-size: 16px;
  color: hsla(0, 0%, 22%, 1);
}

.btn-default {
  background-color: #f4f4f4;
  border-color: #ddd;
  color: hsla(0, 0%, 22%, 1);
}

span.date-banner {
  position: absolute;
  background-color: rgb(245, 245, 245);
  color: hsla(0, 0%, 38%, 0.83);
  width: 116px;
  top: 10px;
  left: 10px;
  padding: 5px;
  line-height: 14px;
  border-radius: 14px;
  font-size: 12px;
  text-align: center;
  z-index: 5;
}

h5.card-title {
  font-size: 20px;
  color: hsla(0, 0%, 22%, 1);
}

p.card-text {
  color: hsla(0, 0%, 22%, 1);
  height: 62px;
  font-size: 14px;
  overflow: auto;
}

.content-header {
  position: relative;
  padding: 15px 15px 0 15px;
}

.card-content {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 1px 4px 0px hsla(0, 0%, 30%, 0.71);
  position: relative;
  z-index: 3;
}

span.card-img-cont {
  position: relative;
}

span.card-img-cont:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  background: rgba(83, 90, 95, 0.37);
  z-index: 1;
}

.card-body {
  z-index: 2;
  border-radius: 4px;
  padding: 15px;
  position: relative;

}

.box-row-container {
  margin-bottom: 20px;
  padding: 0px;
}

img {
  width: 60px;
  display: block;
  margin: auto;
}

.loader-wrapper {
  width: 100%;
  height: calc(100vh - 169px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

html {
  overflow-y: auto;
}

table.dataTable tbody td {
  vertical-align: middle;
}

body {
  font-family: 'Montserrat', sans-serif!important;
}

.main-header .logo {
  font-family: 'Montserrat', sans-serif!important;
  font-size: 17px!important;
}

.action-buttons {
display: flex;
}

.del-button {
  color: white;
  text-decoration: none;
}

.action-btns {
  margin-left: 5px;
}

.panel-custom {
  border: none;
  box-shadow: 0px 1px 7px -1px hsla(0, 0%, 0%, 0.33);
}


.main-header .sidebar-toggle:hover, .main-header .sidebar-toggle:focus  {
  text-decoration: none;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    border-top: 4px solid #3c8dbc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}


@media screen and (min-width: 768px) {

    .bread-custom, .container {
        width: 100%;
    }
}

@media (min-width: 1200px) {

    .container {
        width: 1170px;
    }

    .bread-custom, box-row-container, .container {
        width: 100%;
    }
}

@media (min-width: 1400px) {


    .bread-custom, box-row-container, .container {
        width: 1170px;
    }
}


@media screen and (max-width: 450px) {

  h1.display-3 {
      font-size: 36px;
  }

  p.lead {
      font-size: 14px;
  }
}
