.user-container {
  max-width: 500px;
}

.image-holder {
  position: relative;
  background-position: center;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 4px solid #cdcdcd;
}

.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 0px;
}

.panel-body {
    padding: 20px;
}

.user-details {
  color: hsla(0, 0%, 0%, 0.67);
  padding-left: 0px;
}

.profile-panel {
    max-width: 450px;
}

body p {

    word-wrap: break-word;
}

hr {
    margin-top: 0px;
}

.file-button {
  margin-bottom: 5px;
}

.upload-btn {
  margin-bottom: 5px;
}

a.btn-xs.btn.btn-default.right-float.delete-btn {
  position: absolute;
  right: 55px;
  bottom: 11px;
}

@media screen and (min-width: 768px) {

  .skin-blue .main-header .navbar .sidebar-toggle {
    display: none;
  }


}

@media screen and (max-width: 768px) {


    .image-holder {
      width: 180px;
      height: 180px;
      margin: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .avatar-container {
      margin-bottom: 16px;
    }


}
